<!DOCTYPE html>
<html lang="en">
<head>
  <title>Anveshak</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>
<body>
<br>

<div class="container-fluid">

  <br>
  <!-- Nav tabs -->  <div class="row">
  <div class="col-sm-2">
    <br>
    <br>
  <ul class="nav nav-tabs flex-column position-fixed" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#home">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#menu1">Our Team</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#menu2">Our Rovers</a>
    </li>
  </ul></div>
  <div class="col-sm-10">
    <div class="tab-content">
    <div id="home" class="container tab-pane active"><br>
      <h3>HOME</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
    <div id="menu1" class="container tab-pane fade"><br>
        {% include "show.html" %}
    </div>
    <div id="menu2" class="container tab-pane fade"><br>
        <h3><b>Our Rovers</b></h3>
        <p> rover pics,basically it will be linked to premade rover html page</p>
       {% include "rovers.html" %}
    </div>
  </div>
</div>
  </div>
  </div>

  <!-- Tab panes -->


</body>
</html>
